@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#9333ea;
    --off-white:#cbd5e1;
}

hr{
    margin: 2rem 0rem;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/**containers**/

.container{
    text-align: center;
}

.container-fluid{
    padding:0rem 1rem;
    text-align: center;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding-right: 0.1rem;
}

.link-primary{
    background-color: var(
        --primary-color
    );
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color:white
}

.link-secondary{
    background-color: white;
    border:1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding-right: 1rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    padding:0.5rem 1rem;
    color:black;
    border-bottom-left-radius: 1rem;

}
.nav-brand{
    font-weight: 1.1rem;
}
.nav-pills{
    text-align: right;
}
.nav-links{
    text-decoration: none;
    color:white;
}
.nav-link-active
{
    font-weight: bold;
}

/* header */
.header{
    padding:2rem;
    text-align: center;

}
.header-image{
    width: 350px;
    
}
.header-heading{

    color:var(--primary-color)
}

/* section */
.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}
.ow{
 background-color: var(--off-white);
 border-radius: 1rem 1rem;
}

